.task:not(.completed) {
  cursor: pointer;
}

.task .text-content {
  flex: 1;
}

.modal-content {
  border: 1px solid #E5E5E580 !important;
  border-top-right-radius: 24px !important;
  border-top-left-radius: 24px !important;
}

.modal-content > button.close {
  position: absolute;
  top: 24px;
  right: 24px;
}

button:disabled {
  cursor: default;
}

.text-overflow {
  max-width: 176px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.daily-claim-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: 16px;
}

.daily-claim-grid > div:last-of-type {
  grid-column: 1 / 4;
}