.App {
  text-align: center;
  height: 100vh;
  background-image: url('/src/assets/bgx3.png');
  object-fit: cover;
  background-position: center;
  min-height: 600px;
}

.lottery {
  background-image: url('/src/assets/bgx3.png');
  object-fit: cover;
  background-position: center;
}

.delay {
  background-color: #0000008c;
}

.sc-gsTCUz {
  transform: rotateZ(45deg);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.justify-end {
  justify-content: flex-end;
}

p, button {
  font-family: 'FlappyBird'!important;
}

button {
  cursor: pointer;
}
/* 
.startButton {
  font-family: cursive !important;
} */